    .Hours {
        background-color: red;
    }
    
    .Minutes {
        background-color: red;
    }
    
    .AlramContainer>li .AddList {
        font-size: large;
        list-style-type: "📌";
    }
    
    .AlramTarget {
        font-weight: bold;
        color: rgb(231, 40, 40);
        text-decoration: line-through;
        list-style-type: "📌";
    }
    
    .js-AlramContainer {
        position: absolute;
        top: 41vh;
        right: 34vw;
    }
    
    .AlramList {
        position: absolute;
        top: 0vh;
        right: -1vw;
    }
    
    .SetBtn {
        position: relative;
        right: -6px;
        top: -40px;
    }
    
    .AlramTitle {
        position: relative;
        right: 7px;
        top: -40px;
    }
    
    .AlramTime {
        position: relative;
        top: -40px;
    }
    
    .AlramBtn {
        position: relative;
        right: -3px;
    }