    .Hours {
        background-color: red;
    }
    
    .Minutes {
        background-color: red;
    }
    
    .AlramContainer>li,
    .AddList {
        font-size: large;
        list-style-type: "📌";
        width: 300px;
    }
    
    .AlramTarget {
        font-weight: bold;
        color: rgb(231, 40, 40);
        text-decoration: line-through;
        list-style-type: "📌";
    }
    
    .js-AlramContainer {
        /* border: solid Red 3px; */
        position: absolute;
        top: 300px;
        left: 512px;
    }
    /*    .AlramList {
        position: absolute;
        top: 0vh;
        right: -1vw;
    }
    
    .SetBtn {
        position: relative;
        right: -6px;
        top: -40px;
    }
    
    .AlramTitle {
        position: relative;
        right: 7px;
        top: -40px;
    }
     */
    /*  .AlramTime {
        position: relative;
        top: -40px;
    } */
    /*     .AlramBtn {
        position: relative;
        right: -3px;
    } */
    
    .AlramTitle {
        height: 22px;
        border-radius: 5px;
        width: 250px;
    }
    
    .AlramTime {
        width: 150px;
        height: 24.5px;
        border-radius: 5px;
    }
    
    .SetBtn {
        width: 41px;
        height: 28px;
        margin: 0px;
        position: relative;
        top: 0px;
    }