body {
    background-color: green;
    height: auto;
}

.ListBoard {
    margin-bottom: 100px;
}

.ListBoard>li {
    font-size: large;
    list-style-type: "📌";
    color: whitesmoke;
}

.UserName {
    color: whitesmoke;
    animation: blinker 0.9s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}