/* .Time {
    position: relative;
    top: -3vh;
    right: -0.4vw;
} */

.js-TimeContainer {
    /* border: solid black 3px; */
    position: absolute;
    top: 320px;
    left: 1387px;
    font-size: 56pt;
}